@tailwind base;
@tailwind components;
@tailwind utilities;

.minus-nav {
  height: calc(100dvh - 80px);
}

body {
  @apply overflow-y-scroll;
}

:root {
  --primary: #504f5344;
  --secondary: #12121344;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
}

@layer components {
  .glassmorphism {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(10px); */
  }
}
